.product-image {
    height: 150px;
    max-width: 150px;
    object-fit: cover;
  }

  .basil-cart-container {
    margin: 50px auto;
  }
  
  .loading-message {
    font-size: 28px;
  }
  
  .basil-cart-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height:300px;
    
  }
  
  .item-description {
    font-size: 18px;
  }
  

  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


  }
  
  .item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-input {
    width: 50px;
    margin: 0 10px;
  }
  
  .add-to-cart-button {
    width: 70px;
    margin: 0 10px;
  }