/* src/components/NavbarStyles.css */

.navbar {
  height:100px;
}
.navbar .navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 30px;
  }
  
  .navbar .nav-link {
    background-color: green;
    color: white;
    margin-right: 5px;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 30px;
  }
  
  .navbar .nav-link.active {
    background-color: #28a745;
    border-color: #28a745;
  }

  .custom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  
  .navbar .nav-link:hover {
    color: white;
    opacity: 0.8;
  }
  
  .logo {
    height: 80px; /* adjust the height as needed */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  
  .brand-text {
    margin: 0;
    margin-left: 10px;
    color: inherit;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .google-buttons-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 10px;
  }
  
  .google_button {
    cursor: pointer;
  }

  .kroger-api-link {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    top:20px;
  }
  
  .kroger-api-link:hover {
    color: white;
    background-color: red;
 
  }
  