/* RecipeDetail.css */
.recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .ingredients,
  .directions {
    flex: 1;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    text-align: left;
    
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;  /* Enable vertical scrolling */
  }
  
  
  .recipe img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  h2 {
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: center;
  }
  
  ul,
  ol {
    padding-left: 20px;
  }
  
  .ingredients li,
.directions li {
  margin-bottom: 10px;
  list-style-type: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

/* Add this to RecipeDetail.css */
.ingredient-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient-content {
  display: flex;
  align-items: center;
}

.delete-button {
  position: absolute;
  right: 0;
}

.dragging {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: black 1px solid;
}

.direction-row.dragging {
  background-color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: black 1px solid; 
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.custom-checkbox {
  width: 25px;
  height: 25px;
}